<div ng-controller="paStartCtrl">
    
  <div rw-subject-header title="Economics Experiment" round="actualRound" rounds="config.rounds"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div pa-plot
                 market-values="marketValues"
                 current-market-values="currentMarketValues"
                 portfolio-values="portfolioValues"
                 pre-simulated-values="preSimulatedValues"
                 config="config"
                 needs-redraw="plotNeedsRedraw"
                 style="width: 100%; height: 400px;">
              <svg width="120" height="120" class="pa-plot">

              </svg>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 40px">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <p>Starting Wealth: {{config.wealthPerRound}}</p>
              </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
              <div class="col-md-3">
                <div class="input-group">
                  <span class="input-group-addon">
                    Stocks
                  </span>
                  <input pa-percentage class="form-control" type="text" ng-model="allocation.stock" max="config.wealthPerRound" ng-disabled="isSimulating">
                </div>
              </div>
              <div class="col-md-5">
                <input class="form-control" type="range" ng-model="allocation.bond" min="0" max="{{config.wealthPerRound}}" ng-disabled="isSimulating">
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">
                    Bonds ({{config.bondReturn * 100}}% return)
                  </span>
                  <input pa-percentage class="form-control" type="text" ng-model="allocation.bond" max="config.wealthPerRound" ng-disabled="isSimulating">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" ng-click="confirmAllocation()" ng-disabled="isSimulating||isLoadingStochasticSeries">
                  Confirm Allocation
                </button>
                <p class="pull-right">{{statusMessage}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="height: 600px; overflow: scroll;">
        <table class="table table-bordered">
          <tr>
            <th>Stocks</th>
            <th>Bonds</th>
            <th>Market</th>
            <th>Realized</th>
          </tr>
          <tr ng-repeat="result in roundResults" ng-class="{info: result.isPracticeResult}">
            <td>{{result.allocation.stock | number: 2}}</td>
            <td>{{result.allocation.bond | number: 2}}</td>
            <td>{{result.marketReturn * 100 | number: 0}}%</td>
            <td>{{result.realizedReturn * 100 | number: 0}}%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
